body{
    margin-left: 5%;
    height: 1500px;
    
    padding: 0;
}
/*#contenedor{
width:90%;
margin:auto auto;
border-radius:10px;
}*/

header{
    background-color: rgba(167, 168, 168, 0.267);
    width: 95%;
    height: 100px;
    text-align: center;
       
}
nav{
    background-color: rgb(17, 17, 17);
    width: 95%;
   /*height: 80px;*/
    /*margin-top: 5px;*/
    text-align: center;
    display: inline-block;
}
article{
    background-color: rgba(167, 168, 168, 0.267);
    width: 60%;   
    text-align: center;
    float:left;
    display: inline-block;
    
}
/*caja izquierda del article*/

.seccion{
    background-color: rgba(167, 168, 168, 0.267);
    width: 47%;
    float:left;
    text-align:justify;
    padding:10px;

}
/*caja derecha del article*/
.seccion2{
    background-color: rgba(167, 168, 168, 0.267);
    width: 47%;
    float:right;
    display:inline-block;
    text-align:justify;
    padding:10px 10px 10px 10px;
    

}
 
aside{
    background-color: rgba(167, 168, 168, 0.267);
    width: 34.6%;  
    text-align:center;
    float:right;
    margin-right:5%;

}
footer{
    background-color: rgba(167, 168, 168, 0.267);
    width: 95%;
    height: 100px;
    text-align: center;
    margin-top: 5px;
    clear:both;
}
/*para aser a la izquierda la imagen*/
.logo{
    float: left;
}
/*para aser a la derecha la imagen*/
.logo2{
    float: right;
    
}
/*menú de el nav*/
menu{
    color: aliceblue;
    text-align: center;
    padding: 0 auto;
    line-height: 55px;
}
/*menú de el nav*/
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.lista_menu {
    display: inline-block;
}
/*para poner en linea los elementos de el menu*/
.lista_menu a {
    display: block;
    color: white;
    text-align: center;

    text-decoration: none;
}
/*color cuando se pasa el puntero sobre el boton*/
.lista_menu a:hover {
    background-color: #111;
}
.tops{
text-decoration:none;
list-style:none;
height:43px;
background-color:rgb(135, 135, 145);
text-align:center;
margin-top:5px;
line-height:43px;
}
/*para que la barra de menu que de fixiada*/
.NavFixed {
    position: fixed;
    top: 0;
    width: 89.99%;
    background: rgba(41, 38, 38, 0.973);
    color: white !important;
    z-index: 100px;
    border: none;
    box-shadow:  2px 2px 1px #999;
  }
  .NavFixed a{
    color: white !important;
  } 