body{
    margin-left: 5%;
    height: 1500px;
    background-color: rgba(167, 168, 168, 0.267);
    padding: 0;
}
/*#contenedor{
width:90%;
margin:auto auto;
border-radius:10px;
}*/

header{
    background-color: rgba(167, 168, 168, 0.267);
    width: 95%;
    height: 100px;
    text-align: center;
       
}
nav{
   /* background-color: rgb(17, 17, 17);*/
    width: 95%;
   /*height: 80px;*/
    /*margin-top: 5px;*/
    text-align: center;
    /*display: inline-block;*/
    height: 50px;
    text-align: center;
   background-color: rgb(0, 0, 0);
    
    
}
article{
    background-color: rgba(167, 168, 168, 0.267);
    width: 60%;   
    text-align: center;
    float:left;
    display: inline-block;
    
}

/*para dar el ancho de las secciones*/
/*caja izquierda del article*/
.seccion , .seccion2{
    width: 50%;
    background-color: none;
}

.seccion{
    
    float:left;
    /*text-align:justify;
    padding:10px;*/

}
/*caja derecha del article*/
.seccion2{
    
    float:right;
   /* display:inline-block;
    text-align:justify;
    padding:10px 10px 10px 10px;
    */

}
 
aside{
    background-color: rgba(167, 168, 168, 0.267);
    width: 35%;  
    height: 2228px;
    text-align:center;
    float:left;
    /*margin-right:5%;*/
    

}
footer{
    background-color: rgba(167, 168, 168, 0.267);
    width: 95%;
    height: 100px;
    text-align: center;
    margin-top: 5px;
    clear:both;
}
/*para aser a la izquierda la imagen*/
.logo{
    width: 20%;
    float: left;
    height: 100px;
}
/*para aser a la derecha la imagen*/
.logo2{
    width: 20%;
    float: right;
    height: 100px;
    
}
/*.logo3{
    width: 60%;
    height: 100px;
}
*/
/*menú de el nav*/
.menu {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
   /* background-color: #333;*/

}

.lista_menu {
    display: inline-block;
}
/*para poner en linea los elementos de el menu*/
.lista_menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 7px;
    

    text-decoration: none;
}
/*color cuando se pasa el puntero sobre el boton*/
.lista_menu a:hover {
    background-color: rgb(83, 81, 81);
}
/*par lista del aside*/
.lista2{
text-decoration:none;
list-style:none;
height:43px;
background-color:rgb(135, 135, 145);
text-align:center;
margin-top:5px;
line-height:43px;
}
/*modificar los parrafos*/
.parrafos{
    width: 90%;
    text-align: justify;
    margin: 0 auto;    
}
h1{
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;

}
h2{
    width: 90%;
    margin: 0 auto;

}
.imagenes{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.tema_principal{
    margin: auto;
    padding: 1%;
    font-size: 50px

}
/*para que la barra de menu que de fixiada*/
.NavFixed {
    position: fixed;
    top: 0;
    width: 89.99%;
    background: rgba(41, 38, 38, 0.973);
    color: white !important;
    z-index: 100px;
    border: none;
    box-shadow:  2px 2px 1px #999;
  }
  .NavFixed a{
    color: white !important;
  } 
  #tema2{
      width: 100%;
      margin-top: 115%;
  }
  .lista2 a:hover {
    background-color: rgb(83, 81, 81);
}
.lista2 a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
      
