body{
   min-width: 768px;
    margin-left: 5%;
    height: 1500px;
    background-color: rgba(167, 168, 168, 0.267);
    padding: 0;
}

header{
    background-color: rgba(167, 168, 168, 0.267);
    width: 95%;
    height: 100px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
       
}
nav{
    width: 95%;
    text-align: center; 
    height: 50px;
    text-align: center;
    background-color: rgb(37, 36, 36);
    
    
}
article{
    background-color: rgba(167, 168, 168, 0.267);
    width: 60%;   
    text-align: center;
    float:left;
    display: inline-block;
    
}

/*para dar el ancho de las secciones*/

.seccion , .seccion2{
    width: 50%;
    background-color: none;
}
/*caja izquierda del article*/
.seccion{
    
    float:left;
   
}
/*caja derecha del article*/
.seccion2{
    
    float:right;
   
}
/*seccion para las categorias */
.section3{   
    width: 100%;
    height: 60px;
    text-align: center;
    clear:both;
   
}
 
aside{
    background-color: rgba(184, 190, 190, 0.541);
    width: 31%;  
    height: 2211px;
    text-align:center;
    float:left;
    padding:2%;
    
    

}
footer{
    background-color: rgba(167, 168, 168, 0.548);
    width: 95%;
    text-align: center;
    margin-top: 5px;
    clear:both;
}
/*para aser a la izquierda la imagen*/
.logo{
    width: 13%;
    float: left;
    height: 100px;
}
/*para aser a la derecha la imagen*/
.logo2{
    width: 20%;
    float: right;
    height: 100px;
    
}

/*menú de el nav*/
.menu {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0.5%;
}

.lista_menu {
    display: inline-block;
}
/*para poner en linea los elementos de el menu*/
.lista_menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 7px;
    text-decoration: none;
}
/*color cuando se pasa el puntero sobre el boton*/
.lista_menu a:hover {
    background-color: rgb(83, 81, 81);
}
/*para mantener activo novedades en la nav*/
.activo{
    background-color: rgb(83, 81, 81);
   
}
/*para lista del aside*/
.lista2{
    text-decoration:none;
    list-style:none;
    height:43px;
    background-color:rgb(135, 135, 145);
    text-align:center;
    margin-top:5px;
    line-height:43px;
}
/*modificar los parrafos*/
.parrafos{
    width: 90%;
    text-align: justify;
    margin: 0 auto; 
    font-family: 'Petrona', serif;
    color: black !important ; 
}
/* para ajustar el texto de el tema principal*/
h1{
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom:1%;
    font-family: 'Arvo', serif;
    width: 80%;


}
/* para ajustar el texto de los temas*/
h2{
    width: 90%;
    margin: 0 auto;
    font-family: 'Fondamento', cursive;

}
/*para ajustar los tamaños de las imagenes*/
.imagenes{
    width: 90%;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*para centrar el tema principal*/
.tema_principal{
    margin: auto;
    padding: 1%;
    font-size: 50px;
    color: green

}
/*para que la barra de menu que de fixiada*/
.NavFixed {
    position: fixed;
    top: 0;
    width: 89.99%;
    background: rgba(41, 38, 38, 0.973);
    color: white !important;
    z-index: 100px;
    border: none;
    box-shadow:  2px 2px 1px #999;
  }
.NavFixed a{
    color: white !important;
  } 
/*color cuando este el puntero sobre un elemento de la lista*/
.lista2 a:hover {
    background-color: rgb(83, 81, 81);
}
/*para ajustar la lista de el aside*/
.lista2 a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
/*caja izquierda de el aside*/
#pie_pag1 {
    width:33%;
    display:inline-block;
    text-align:left;
    color:black;
}
/*caja central de el aside*/
 #pie_pag2{
    width:33%;
    display:inline-block;
    text-align:left;
    color:black;
}
/*caja derecha de el aside*/
#pie_pag3{
    width:33%;
    display:inline-block;
    text-align:left;
    color:black;
}
/*efecto de zoom en las imagenes*/
img.zoom {
    width: 90%;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
/*efecto de zoom en las imagenes*/ 
.transition {
    -webkit-transform: scale(1.1); 
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

/*para aser el efecto de saturacion a una imagen*/
.image:hover {
    filter: saturate(180%);
}